.person-info__block {
    position: fixed;
    z-index: 5;
    background: rgba(0, 0, 0, .6);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity .4s ease;
}

.person-info__block_visible {
    visibility: visible;
    opacity: 1;
}

.person-info__block_hidden {
    visibility: hidden;
    opacity: 0;
}

.person-info__wrap {
    background: white;
    padding: 25px;
    border-radius: 5px;
}

.person-info__fio-block {
    display: flex;
    justify-content: center;
}

.person-info__gender {
    margin: 0;
    font-size: 14px;
}

.person-info__email {
    font-size: 14px;
}
