.person-item-block {
    width: 250px;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid black;
    margin-top: 10px;
}
